body{
	background: #e2e2e2 !important;
}

.background_pic{
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/background_pic.jpg);
	background-size: cover;
	color: white;
}

.my-card{
	padding: 20px;
	background: aliceblue;
}

label, input {
    display: block;
}

label {
    margin-top: 20px;
}